<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DayOfWeek" value="Monday"/>
    <add key="CalendarWeekRule" value="FirstFourDayWeek"/>
    <add key="BackgroundR" value="0"/>
    <add key="BackgroundG" value="0"/>
    <add key="BackgroundB" value="0"/>
    <add key="ForegroundR" value="255"/>
    <add key="ForegroundG" value="255"/>
    <add key="ForegroundB" value="255"/>
    <add key="ForceRedraw" value="False"/>
    <add key="IconResolution" value=""/>
    <add key="StartWithWindows" value="False"/>
    <add key="logFileSizeMB" value="10"/>
    <add key="UseApplicationLog" value="False"/>
    <add key="AutoUpdate" value="False"/>
  </appSettings>
</configuration>