<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DayOfWeek" value="Monday"/>
    <add key="CalendarWeekRule" value="FirstFourDayWeek"/>
    <add key="IconBackgroundAlpha" value="255"/>
    <add key="IconBackgroundRed" value="0"/>
    <add key="IconBackgroundGreen" value="0"/>
    <add key="IconBackgroundBlue" value="0"/>
    <add key="IconForegroundRed" value="255"/>
    <add key="IconForegroundGreen" value="255"/>
    <add key="IconForegroundBlue" value="255"/>
    <add key="IconResolution" value=""/>
    <add key="StartWithWindows" value="True"/>
    <add key="MaxLogFileSizeInMB" value="10"/>
    <add key="UseApplicationLog" value="False"/>
    <add key="AutoUpdate" value="True"/>
    <add key="DisplayStartupNotification" value="True"/>
    <add key="DisplayWeekChangedNotification" value="True"/>
    <add key="UseSilentNotifications" value="True"/>
    <add key="Language" value=""/>
    <add key="SmoothingMode" value="2"/>
    <add key="CompositingQuality" value="2"/>
    <add key="InterpolationMode" value="2"/>
    <add key="TextContrast" value="1"/>
	<add key="LastUpdateCheck" value=""/>
  </appSettings>
</configuration>